* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/*Define variáveis CSS globais (ustom properties)*/
:root{
    --color-neutral-black: #263238;
    --color-neutral-D_Grey: #4D4D4D;
    --color-neutral-Grey: #717171;
    --color-neutral-L_Grey: #89939E;
    --color-neutral-Silver: #F5F7FA;
    --color-neutral-White: #FFFFFF;
    --color-primary: #4CAF4F;
    --color-secondary: #263238;
    --color-info: #2194f3;
    --color-shade-shade1: #43A046;
    --color-shade-shade2: #388E3B;
    --color-shade-shade3: #237D31;   
    --color-shade-shade4: #1B5E1F;
    --color-shade-shade5: #103E13;
    --color-tint-tint1: #66BB69;
    --color-tint-tint2: #81C784;
    --color-tint-tint3: #A5D6A7;
    --color-tint-tint4: #C8E6C9;
    --color-tint-tint5: #E8F5E9;
    --color-action-warning: #FBC02D;
    --color-action-error: #E53835;
    --color-action-sucess: #2E7D31;

    /*Configurações de Fontes */
    --font-family:"inter";
    --font-headline-1-size:64px;
    --font-headline-2-size:36px;
    --font-headline-2-weight:600;
    --font-headline-4-size:20px;
    --font-body2-weight-regular:400;
    --font-body3-size: 14px;
}

a {
    text-decoration: none;
}

p {
    color: var(--color-neutral-Grey);
}

.btn-primary {
    background-color: var(--color-primary);
    padding: 14px 32px;
    border-radius: 4px;
    align-self: flex-start;
    margin-top: 16px;
    cursor: pointer;
}

.btn-primary a{
    color: var(--color-neutral-White);
}

h2{
    color: var(--color-neutral-D_Grey);
    font-size: var(--font-headline-2-size);
    font-weight: var(--font-headline-2-weight);
}